<ul>
	<% @comments.each do |comment| %>
		<% if comment.approved == false %>
			<p><%= comment.body %>
			<%= link_to "Approve?", comment_path(comment), :method => :put %></p>
		<% end %>
	<% end %>
</ul>