<%= form_tag approve_all_comments_url	 do %>
	<ul>
		<% @comments.each do |comment| %>
			<li>
				<%= label_tag comment.body %>
				<%= check_box_tag 'comment_ids[]', comment.id %>
			</li>
		<% end %>
	</ul>
	<%= submit_tag("Approve") %>
<% end %>