<%= stylesheet_link_tag    "game_of_life" %>
<%= javascript_include_tag "game_of_life" %>

<div id="container">
	<div class="inputs">
		<input type="text" placeholder="x-value" class="x-value" />
		<input type="text" placeholder="y-value" class="y-value" />
		<input type="button" value="Generate Grid" class="generate-grid" />
	</div>

	<div class="grid">
	</div>
</div>