<%= javascript_include_tag "twitter_stream" %>

<div id="container">
	<input type="text" placeholder="search phrase" />
	<input type="button" value="Stream Tweets" />
	<div class="tweet-stream"></div>
	<div class="favorites"></div>
</div>