<%= javascript_include_tag "twitter_stream_backbone" %>
<%= stylesheet_link_tag "twitter_stream_backbone" %>

<div id="container">
	<button class="add-stream">Add a Stream</button>

	<div class="streams-wrapper">
	</div>
</div>

<!-- Templates -->
<script id="stream-template" type="text/x-handlebars-template">
	<input type="text" class="stream-search" />
	<ul>
	</ul>
</script>
