<%= stylesheet_link_tag    "twitter_stream" %>

<div id="container">
	<div class="main">
	</div>
	<input class="add-stream" type="button" value="Add a Stream" />
	<div class="favorites">
		<h2>Favorited Tweets</h2>
	</div>
</div>