<%= javascript_include_tag "twitter_stream" %>
<%= stylesheet_link_tag    "twitter_stream" %>

<div id="container">
	<div class="inputs">
		<input type="text" placeholder="search phrase" />
		<input type="button" value="Stream Tweets" />
	</div>
	<div class="tweet-stream">
		<ul></ul>
	</div>
	<div class="favorites">
		<h2>Favorited Tweets</h2>
	</div>
</div>