#container {
	width: 1000px;
	margin: 0 auto;
}

.column {
	float: left;
}

.cell {
	width: 10px;
	height: 10px;
	-webkit-box-sizing: border-box;
	border: 1px solid #666;
	background: #E3E3E3;
}

.on {
	background: #B4DA55;
}

.start-life {
	display: none;
}