#container {
	width: 1000px;
	margin: 0 auto;
}

.grid {
	width: 1000px;
}

.column {
	float: left;
}

.cell {
	-webkit-box-sizing: border-box;
	width: 10px;
	height: 10px;
	background: #DBDBDB;
	border: 1px solid #999;
}

.on {
	background: #BFE01B;
}