body {
	background: #c0deed;
}

#container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	padding-top: 50px;
}

.main {
	float: left;
	width: 753px;
	margin-right: 22px;
}

.add-stream {
	position: absolute;
	top: 0;
	right: 0;
}

section {
	float: left;
	width: 200px;
	margin: 0 25px 25px 0;
	border: 1px solid black;
	padding: 12px;
}

.tweet-stream {
	overflow: hidden;
}

.search-box {
	width: 150px;
}

.favorites {
	float: right;
	width: 225px;
}

.favorites h2 {
	margin: 0;
	text-align: right;
}
